.main {
  padding-top: 20px;
  display: flex;
  &__left {
    flex: 9.5;
  }
  &__right {
    z-index: 2;
    flex: 2.5;
    background-color: rgb(245, 245, 246);
    width: 100%;
    &_wrapper {
      padding: 20px;
    }
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_left {
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
      }
      &_right {

      }
    }
  }
}

