.gridWrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 10px;
}

.popularCategoriesTab,
.newCategoriesTab {
  cursor: pointer;
  font-size: 32px;
  color: #B3B3B7;
  &.active {
    font-weight: 700;
    color: black;
  }
}

.middle {
  color: #B3B3B7;
  font-size: 32px;
  margin: 0 20px;
}

.resentlyWatched {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
  color: black;
}