@import "../../assets/variables.scss";


.header {
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 5px 25px 0 #e0e0e0;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.buttonIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.middle {
  flex: 7;
}

.right {
  flex: 3;
}

.search {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: white;
  &__input {
    width: 100%;
    border-bottom: 1px solid #dfdfe1;
    padding: 1px 53px 5px 2px;
  }
  &__input:focus {
    outline: none;
    border-bottom: 1px solid #fe7200;
  }
  &__icon {
    position: absolute;
    cursor: pointer;
    color: #b3b3b7;
    right: 0;
  }
  &__icon:hover {
    color: #fe7200;
  }
}
.left {
  margin-right: 40px;
  flex: 2;
}

.logoWrapper {
  margin-right: 40px;
  cursor: pointer;
}

.logo {
  width: 40px;
  height: 40px;
}
.navHeader {

  &__list {
    display: flex;
    margin-bottom: 0px;
    justify-content: end;
  }
  &__link {
    margin-left: 25px;
  }
}

.icon {
  justify-content: center;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link:hover {
  display: flex;
  filter: invert(42%) sepia(86%) saturate(1629%) hue-rotate(5deg) brightness(97%) contrast(103%);
}