.categoryItem {
  box-shadow: 0 5px 25px 0 #e0e0e0;
  word-wrap: break-word;
  cursor: pointer;
}

.wrapper {
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  text-align: center;
}

.wrapper:hover {
  color: #fe7200;
}

.content {

}

.imageBox {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 14px;
  margin-top: 10px;
  white-space: nowrap;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.image {
  height: 56px;
}