.product {
  display: flex;
  padding: 20px;
  width: 100%;
  border-top: 1px solid #dfdfe1;
  position: relative;
}

.product:first-child {
  border-top-color: transparent;
}

.product:hover + .product:nth-child(n+1) {
  border-top-color: transparent;
}

.product:hover {
  z-index: 2;
  box-shadow: 0 5px 25px rgba(30,31,33,.12);
  border-top-color: transparent;
}



.imageBlock {
  flex: 5;
  height: 220px;
  display: flex;
  justify-content: center;
}

.bookmark {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #b3b3b7;
  font-size: 20px;
}

.image {
}

.middleBLock {
  flex: 6;
}

.leftBlock {
  flex: 3;
  display: flex;
  justify-content: end;
  align-items: center;
}

.leftWrapper {
  display: flex;
  flex-direction: column;
}

.priceBlock {
  font-size: 32px;
  line-height: 35px;
}

.title {
  font-size: 18px;
  line-height: 25px;
  color: #151528;
  cursor: pointer;
  transition: color .1s ease;
  font-weight: 300;
}

.meta {
  display: flex;
  padding-top: 10px;
  justify-content: flex-start;
  transition: color .1s ease;
  font-weight: 300;
  font-size: 14px;
}

.cardHr {
  margin: 15px 0;
}

.featuresList {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.44;
}